*{
  background-color: black;
  text-align: center;
}
h1{
  font-family: Sans-Serif;
  color: white;
}

p{
  font-family: Sans-Serif;
  color: white;
}

ul{
  font-family: Sans-Serif;
  color: white;
}